h1{
    color: brown;
    text-shadow:5px 5px 28px #f00808;
    
} /* color de letras de h1 */
header{background-color: rgb(0, 0, 0);
        } /*clor de fondo del header   */
             




ul{list-style-type: none;

word-spacing: 10px;} /* alineo el menu */

a{ text-decoration: none;
   color: rgb(169, 169, 169);
;} /* sacar subrayado del menu y cambio el color de letras*/

li{display: inline;
   font-size: 20px;} /* cambie el tamaño de letra del menu */




.parrafoDos{
    font-size: 25px;
    text-align:center;
    font-family:"oswald";}

.ParrafoUno{
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif
}

.imgNike{ width: 150px;} /* clase para tamaño de fotos */

.imagenesClase{ display: flex;
                flex-flow:wrap ;
                justify-content:center;
                text-align: center;
                background-color:rgb(165, 165, 165);
               
            } /* clase pa:ra direccion de fotos */


.imagenesClase div{ border: rgb(0, 0, 0) solid;  
                    border-radius: 15px;           
                    margin: 5px;
                    padding: 10px;
                    text-align:inherit;                   
}


#grid{
    display: grid;
    grid-template-areas: "header header"
                "seccion1 seccion1"
                "seccion2 seccion3"
                "footer footer";
    
     }
.border{
    border: 1px solid rgb(5, 5, 5); 
    
}
header{
    grid-area: header;
}
 section#uno{
     grid-area: seccion1;
     ;
     
 }
 section#dos{ grid-area: seccion2;
            ;}

 section#tres{ grid-area: seccion3;}

 footer{grid-area: footer;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(45deg, #000000 20%, #000000 20%, #45484d 44%, #000000 66%, #45484d 87%, #45484d 87%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #000000 20%,#000000 20%,#45484d 44%,#000000 66%,#45484d 87%,#45484d 87%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #000000 20%,#000000 20%,#45484d 44%,#000000 66%,#45484d 87%,#45484d 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: blanchedalmond;
    text-align: center;}




.nosotros{ display: grid;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        background-color: rgb(150, 150, 150);
        grid-template-areas:
         "header header header"
         "section1 section1 section1"
         "section2 section3  section4"
         "footer footer footer";
}
.nosotros section{background-color: rgba(124, 228, 156, 0.193);
                  border: 1px solid black;}
.section1{grid-area: section1;
          font-size: 20px;
          font-family:"oswald";
}
.section2{grid-area: section2;
          text-align: center;}


.section3{grid-area: section3;
         text-align: center;}


.section4{grid-area: section4;
          text-align: center;}
.section5{grid-area: footer;}


.local{width: 400px;
       height: 300px;
    text-align:right;
}
.bodyContacto{
    background-color: rgb(165, 165, 165);
}

.productosDestacados{
    text-align: center;
}

.boton{
    transform: scale(0.861, 0.846);
    -webkit-transform: scale(0.861, 0.846);
    -moz-transform: scale(0.861, 0.846);
    -o-transform: scale(0.861, 0.846);
    -ms-transform: scale(0.861, 0.846);
    transition: color 2s linear;
    align-self:flex-end;
    
}

.prueba{
    display: grid;
    background-color: coral;
    border:cyan solid;
    grid-template-areas: 
                          "div2 div2"
                          "div3 div3"
                          "div5 div5"
                          ;
                          grid-column-gap: 5px;
                          grid-row-gap: 5px;
                          
    
}
.prueba div{
    border: #00ff7f solid;
    margin: 5px;
    padding: 10px;
}

.div1{
    grid-area: div1;
}

.div2{
    grid-area: div2;
}

.div3{
    grid-area: div3;
}

;

.div5{
    grid-area: div5;
}

.fondo__index{
    width: 1345px;
    height: 500px;
    

   
    
        
        
    
       
    
}